<!DOCTYPE html>
<html>
<head>
  <title>Decidim user extension</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag "decidim/user_extension/application", media: "all" %>
  <%= javascript_pack_tag "decidim/user_extension/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
