<%= decidim_modal id: "show-user-modal" do %>
  <div data-dialog-container>
    <%= icon "information-line" %>
    <h3 class="h3" id="dialog-title-show-email-modal" tabindex="-1" data-dialog-title>
      <%= t(".title") %>
    </h3>
    <div id="dialog-desc-show-user-modal" class="my-8">
      <p><%= t(".description") %></p>

      <div class="show_user_extension">
        <h4><%= t(".full_name") %></h4>
        <div>
          <p id="user_full_name2"></p>
        </div>
        <h4>
          <%= t(".user_extension") %>
        </h4>
        <div>
          <p id="user_extension"></p>
          <p><%= t(".hidden") %></p>
        </div>
      </div>
    </div>
  </div>
  <div data-dialog-actions>
    <button class="button button__sm button__secondary" data-open="user_extension" data-remote-url="">
      <%= t(".show") %>
    </button>
  </div>
<% end %>
<script type="text/javascript">
$(() => {
  const $modal = $("#show-user-modal");

  if ($modal.length === 0) {
    return
  }

  const $button = $("[data-open=user_extension]", $modal);
  const $userExtension = $("#user_extension", $modal);
  const $fullName = $("#user_full_name2", $modal);

  $("[data-dialog-open=show-user-modal]").on("click", (event) => {
    event.preventDefault()

    $button.show()
    $button.attr("data-remote-url", event.currentTarget.href)
    $fullName.text($(event.currentTarget).data("full-name"))
    $userExtension.html("")
  })

  /* eslint-disable */
  async function getUserExtension(url) {
    let response = await fetch(url);
    if (response.ok) {
      let userExtension = await response.text();
      $("#user_extension").html(userExtension);
      $button.hide()
    } else {
      console.log(`Error-HTTP: " + ${response.status}`);
    }
  }
  /* eslint-enable */

  $("[data-open=user_extension]").on("click", (event) => {
    getUserExtension(event.currentTarget.dataset.remoteUrl);
  })

})
</script>
